[submodule "Day19_signthis/lib/forge-std"]
	path = Day19_signthis/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fortknox/lib/forge-std"]
	path = fortknox/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
